# Build
build/
out/

# CMake
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
compile_commands.json
Makefile

# Benchmark
results/*
!results/.gitkeep

workspace/*
!workspace/.gitkeep

# Config
config.local.json

# IDE
.vscode/
.idea/

# Logs
*.log

# macOS
.DS_Store

# Windows
Thumbs.db